.letters {
  &__content {
    display: flex;
  }

  h1 {
    position: relative;
    padding-bottom: 16px;
  }

  p {
    padding-bottom: 40px;
  }

  @media screen and (max-width: 1023px) {
    &__content {
      display: block;
    }
  }
}
