.stroka {
	&__content {
		display: flex;
	}

	&__form {
		max-width: 220px;
	}

	&__answer {
		margin-left: 20px;
		max-width: 250px;
	}

	h1 {
		position: relative;
		padding-bottom: 16px;
	}

	p {
		padding-bottom: 40px;
	}
}
